.parallax-effect-glare-scale {
    /* @include background; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    /* background-color: darkgreen; */
    background-color: #a45eff;
    color: white;
    border: 5px solid #d3d600;
    border-radius: 20px;
    padding: 20px;
  
    transform-style: preserve-3d;
  
    .inner-element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 35px;
      font-style: italic;
      color: white;
      transform: translateZ(60px);
    }
  }